#pattern  filter=crypt diff=crypt
solver/xpauth.xpr filter=crypt diff=crypt

# Force line endings to be LF, except Windows batch files that require CRLF
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf