version: "2.1"

services:

  redis-nginx:
    container_name: redis-nginx
    image: redis
    command: redis-server
    expose:
      - 6379

  db-nginx:
    container_name: db-nginx
    image: postgres
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=reopt
      - POSTGRES_PASSWORD=reopt
      - POSTGRES_DB=reopt
    ports:
      - 5432:5432

  celery-nginx:
    container_name: celery-nginx
    build:
      context: .
    image: base-api-image
    command: >
      "celery -A reopt_api worker -l info"
    environment:
      - APP_ENV=local
      - SQL_HOST=db-nginx
      - SQL_PORT=5432
      - REDIS_HOST=redis-nginx
      - SOLVER=xpress
    volumes:
      - .:/opt/reopt
    depends_on:
      - db-nginx
      - redis-nginx
      - julia-nginx

  django-nginx:
    image: base-api-image
    container_name: django-nginx
    command: >
      "python manage.py migrate
      && /opt/reopt/bin/wait-for-it.bash -t 0 julia-nginx:8081 -- python manage.py runserver 0.0.0.0:8000"
    environment:
      - APP_ENV=local
      - SQL_HOST=db-nginx
      - SQL_PORT=5432
      - REDIS_HOST=redis-nginx
      - SOLVER=xpress
    depends_on:
      - db-nginx
      - redis-nginx
      - julia-nginx
      - celery-nginx
    expose:
      - 8000
    volumes:
      - .:/opt/reopt

  nginx:
    build: ./nginx
    ports:
      - 80:80
    depends_on:
      - django-nginx
    restart: "on-failure"

  licenseserver:
    build:
      context: julia_src/xpress/licenseserver
    mac_address: c4:b3:01:d3:d5:eb
    command: xpserver
    expose:
      - 27100

  julia-nginx:
    container_name: julia-nginx
    build:
      context: julia_src/
    command: julia --project=/opt/julia_src http.jl
    ports:
      - "8081:8081"
    depends_on:
      - licenseserver
    volumes:
      - ./julia_src:/opt/julia_src

volumes:
  pgdata:
