adal==1.2.6
amqp==5.0.5
asgiref==3.3.1
attrs==20.3.0
autopep8==1.5.5
bandit==1.7.0
billiard==3.6.3.0
cachetools==4.2.1
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cligj==0.7.1
colorama==0.4.4
cryptography==3.4.6
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
Django==3.1.7
django-celery-results==2.0.1
django-extensions==3.1.1
django-picklefield==3.0.1
django-tastypie==0.14.3
docopt==0.6.2
et-xmlfile==1.0.1
Fiona==1.8.18
future==0.18.2
geopandas==0.6.2
gevent==20.12.0
gitdb==4.0.5
GitPython==3.1.11
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.27.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
greenlet==1.0.0
gunicorn==20.0.4
h5pyd==0.8.0
httplib2==0.19.0
idna==2.10
importlib-metadata==3.1.1
ipython-genutils==0.2.0
isodate==0.6.0
jdcal==1.3
julia==0.5.6
kombu==5.0.2
lxml==4.6.2
more-itertools==7.2.0
msrest==0.6.21
msrestazure==0.6.4
munch==2.5.0
numpy==1.17.3
oauthlib==3.1.0
openpyxl==3.0.0
packaging==20.9
pandas==0.25.2
pathlib-mate==0.0.15
pathlib2==2.2.1
pbr==5.5.1
pexpect==4.2.1
pigar==0.7.0
pipreqs==0.4.9
prompt-toolkit==1.0.13
protobuf==3.15.0
psutil==5.6.6
psycopg2==2.7.3.2
ptyprocess==0.5.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.2.0
PyJWT==2.0.1
pyparsing==2.4.7
pyproj==1.9.5.1
python-dateutil==2.8.0
python-mimeparse==1.5.1
pytz==2019.3
PyYAML==5.3.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rollbar==0.14.7
rsa==4.7.1
scandir==1.5
Shapely==1.7.1
simplegeneric==0.8.1
six==1.15.0
smmap==3.0.5
SQLAlchemy==1.3.1
sqlparse==0.4.1
stevedore==3.3.0
toml==0.10.2
traitlets==4.3.2
tzlocal==1.4
uritemplate==3.0.1
urllib3==1.24.2
vine==5.0.0
wcwidth==0.1.7
xlrd==1.0.0
XlsxWriter==0.9.6
yarg==0.1.9
zipp==0.6.0
zope.event==4.5.0
zope.interface==5.2.0
