backports.shutil-get-terminal-size==1.0.0
CherryPy==8.8.0
cycler==0.10.0
decorator==4.0.11
Django==1.8
django-picklefield==0.3.2
django-tastypie==0.13.3
enum==0.4.6
enum34==1.1.6
functools32==3.2.3.post2
ipython==5.3.0
ipython-genutils==0.2.0
matplotlib==2.0.0
numpy==1.11.0
pandas==0.18.1
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
psutil==4.3.1
psycopg2==2.6.2
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.5.2
python-mimeparse==1.5.1
pytz==2016.4
requests==2.11.1
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
subprocess32==3.2.7
traitlets==4.3.2
wcwidth==0.1.7
xlrd==1.0.0
XlsxWriter==0.9.6
