amqp==2.6.0
attrs==19.1.0
autopep8==1.4.3
billiard==3.6.3.0
celery==4.4.6
certifi==2017.7.27.1
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
colorama==0.3.9
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
Django==2.2.13
django-celery-results==1.1.2
django-extensions==2.2.5
django-picklefield==0.3.2
django-tastypie==0.14.2
docopt==0.6.2
enum34==1.1.6
et-xmlfile==1.0.1
Fiona==1.8.13.post1
future==0.18.2
geopandas==0.6.2
gevent==1.2.2
greenlet==0.4.12
gunicorn==20.0.4
h5pyd==0.7.0
idna==2.6
importlib-metadata==0.23
jdcal==1.3
julia==0.5.3
kombu==4.6.11
lxml==3.7.3
more-itertools==7.2.0
munch==2.5.0
numpy==1.17.3
openpyxl==3.0.0
pandas==0.25.2
pathlib-mate==0.0.15
pathlib2==2.2.1
pexpect==4.2.1
pigar==0.7.0
pipreqs==0.4.9
prompt-toolkit==1.0.13
psutil==5.6.6
psycopg2==2.7.3.2
ptyprocess==0.5.1
pycodestyle==2.5.0
Pygments==2.2.0
pyparsing==2.1.10
pyproj==1.9.5.1
python-dateutil==2.8.0
python-mimeparse==1.5.1
pytz==2019.3
redis==3.3.11
requests==2.20.0
rollbar==0.14.7
scandir==1.5
Shapely==1.7.0
simplegeneric==0.8.1
six==1.15.0
SQLAlchemy==1.3.1
sqlparse==0.3.0
traitlets==4.3.2
tzlocal==1.4
urllib3==1.24.2
vine==1.3.0
wcwidth==0.1.7
xlrd==1.0.0
XlsxWriter==0.9.6
yarg==0.1.9
zipp==0.6.0
