<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>

REopt API
<table>
  <thead>
    <th>Parameter</th>
    <th>Required</th>
    <th>Format</th>
    <th>Description</th>
    <th>Validations</th>
  </thead>

  <tbody>
  {% for k,v in api_inputs.iteritems %}
    <tr>
        <th>{{k}}</th>
        <td> {{v.req}} </td>
        <td> {{v.type}} </td>
        <td> {{v.description}} </td>
        <td> {{v.validations}} </td>
    </tr>
  {% endfor %}
  </tbody>



</body>
</html>