apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-django-deployment
  labels:
    app: {{ .Chart.Name }}-django
spec:
  replicas: {{ .Values.djangoReplicas }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-django
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-django
    spec:
      volumes:
        - name: {{ .Chart.Name }}-secrets-volume
          secret:
            secretName: {{ .Chart.Name }}-secrets
      initContainers:
        - name: {{ .Chart.Name }}-ready-wait
{{ tuple "reopt-api" . | werf_container_image | indent 10 }}
          args: ["bin/ready-wait"]
          envFrom:
            - configMapRef:
                name: {{ .Chart.Name }}-base-config-map
          env:
{{ tuple "reopt-api" . | werf_container_env | indent 12 }}
          volumeMounts:
            - name: {{ .Chart.Name }}-secrets-volume
              readOnly: true
              mountPath: /opt/reopt/keys.py
              subPath: {{ .Values.appEnv }}-keys.py
      containers:
        - name: {{ .Chart.Name }}-django
{{ tuple "reopt-api" . | werf_container_image | indent 10 }}
          args: ["bin/server"]
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: {{ .Chart.Name }}-base-config-map
          env:
{{ tuple "reopt-api" . | werf_container_env | indent 12 }}
          volumeMounts:
            - name: {{ .Chart.Name }}-secrets-volume
              readOnly: true
              mountPath: /opt/reopt/keys.py
              subPath: {{ .Values.appEnv }}-keys.py
          readinessProbe:
            httpGet:
              path: /_health
              port: 8000
              httpHeaders:
                - name: X-Forwarded-Proto
                  value: https
            periodSeconds: 5
            timeoutSeconds: 60
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: /_health
              port: 8000
              httpHeaders:
                - name: X-Forwarded-Proto
                  value: https
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 60
            failureThreshold: 10
