name: Built-in Tests for Pull Requests (Xpress in Ubuntu 18.04)

on:

  pull_request:
    branches:
      - master
      - develop

jobs:

  test:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Decrypt
        env:
          TRANSCRYPT_PASSWORD: ${{ secrets.TRANSCRYPT_PASSWORD }}
        run: ./.github/scripts/decrypt.sh 
      - name: Make keys.py
        env:
          NREL_DEV_API_KEY: ${{ secrets.NREL_DEV_API_KEY }}
        run: ./.github/scripts/make_keys.py.sh 
      - name: Build containers
        run: docker-compose up -d
      - name: Check running containers
        run: docker ps -a
      - name: Check celery logs
        run: docker logs reopt_lite_api_celery_1
      - name: Check django logs
        run: docker logs reopt_lite_api_django_1
      - name: test
        run: docker-compose exec -T reopt_lite_api_celery_1 python manage.py test -v 2 --failfast --no-input
