name: Built-in Tests for Push (Xpress in Ubuntu 18.04)

on:

  push:

jobs:

  test:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - name: Decrypt
        env:
          TRANSCRYPT_PASSWORD: ${{ secrets.TRANSCRYPT_PASSWORD }}
        run: ./.github/scripts/decrypt.sh 
      - name: Make keys.py
        env:
          NREL_DEV_API_KEY: ${{ secrets.NREL_DEV_API_KEY }}
        run: ./.github/scripts/make_keys.py.sh 
      - name: Build containers
        run: docker-compose up -d
      - name: Check running containers
        run: docker ps -a
      - name: Wait for julia_api
        run: ./bin/wait-for-it.bash -t 0 127.0.0.1:8081
      - name: test
        run: docker exec reopt_lite_api_celery_1 python manage.py test -v 2 --failfast --no-input
